body {
  background-color: rgb(5, 60, 68);
  font-size: 24px;
  display: flex;
}
li {
  display: flex;
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

input {
  border-radius: 20px;
  height: 20px;
}
